@CHARSET "UTF-8";
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.tb-shop .shop-hesper-hd {
    color: #666666;
    margin-bottom: 10px;
}
.tb-shop .box tr, .tb-shop .box td {
    border-collapse: collapse;
    vertical-align: top;
}
.tb-shop table a {
    color: #4B4B4B;
}
.catalog-category-view .col2-left-layout .col-main,
.catalogsearch-result-index .col2-left-layout .col-main
{
	width: 800px;
}
.catalog-category-view .col2-left-layout .col-left,
.catalogsearch-result-index .col2-left-layout .col-left	
{
	width: 140px;
}
.catalog-category-view .shop-hesper-hd {
    color: #666666;
    margin-bottom: 10px;
}
.catalog-category-view .shop-hesper-hd {
    overflow: hidden;
}
.catalog-category-view .hesper-cats {
    background-color: #FCFCFC;
    background-position: -751px 100%;
    border: 1px solid #E5E5E5;
    //padding-bottom: 45px;
    position: relative;
}
.catalog-category-view .hesper-cats ol {
    background-color: #F9F9F9;
    border-bottom: 1px solid #E7E7E7;
    height: 29px;
    padding-left: 12px;
}
.catalog-category-view .hesper-cats li {
    float: left;
    margin-bottom: 0;
}
.catalog-category-view .hesper-cats ol li {
    color: #666666;
    font-size: 14px;
    font-weight: 700;
    height: 27px;
    line-height: 29px;
}


.tb-shop .attr-data .selected-attr {
    border-bottom: 1px solid #E2E2E2;
    padding: 5px 10px;
}
.tb-shop .attr-data .selected-attr .currently .block-content{
	margin-left: 15px;
	float: left;
}
.tb-shop .attr-data .selected-attr .currently .block-content a{
	position: relative;
	padding-right: 15px;
	padding: 0 15px 0 3px;
	border: 1px solid #FF8040;
	margin: 3px;
	white-space: nowrap;
	line-height: 20px;
	height: 15px;
	background: none repeat scroll 0 0 #FFFFFF;
	display: inline;
}

.tb-shop .attr-data .selected-attr .currently .block-content a:hover{
 	border: 1px solid #FF5500;
    color: #FF5500;
    text-decoration: none;
}
.tb-shop .attr-data .selected-attr .currently .block-content a span.label{
	color: #808080;
    display: inline;
    font-size: 12px;
    font-weight: normal;
}
.tb-shop .attr-data .selected-attr .currently .block-content a span.value{
	color: #FF8040;
}


.tb-shop .attr-data .selected-attr a .close-icon {
    background: url("../images/T1LmKfXmtfXXXXXXXX-20-1840.png") no-repeat scroll -6px -242px transparent;
    height: 13px;
    position: absolute;
    right: 0;
    top: 1px;
    width: 14px;
    display: inline;
}
.tb-shop .attr-data .selected-attr a:hover .close-icon {
    background-position: -6px -223px;
}



.catalog-category-view .attr-data table th {
    font-weight: normal;
    padding-top: 9px;
    text-align: right;
    vertical-align: top;
    width: 170px;
    font-family: "Tw Cen MT";
}

.catalog-category-view .attr-data table th, .catalog-category-view .attr-data table td {
    border-bottom: 1px solid #E2E2E2;
}
.catalog-category-view .attr-data table .handle {
    text-align: left;
    vertical-align: top;
    width: 80px;
}

.catalog-category-view  .attr-data table ol {
    margin: 6px 0;
    padding: 0;
    width: 520px;
    border-bottom: none;
}

.catalog-category-view  .attr-data table ol li{
   font-weight: normal;
   line-height: 25px;
   font-size: 12px;
}
.tb-shop .hesper-cats .attr-data ol li {
    background-position: -3001px 0;
    color: #666666;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding-left: 15px;
    width: 155px;
}
.tb-shop .hesper-cats .attr-data table ol li {
    list-style: none outside none;
    margin-bottom: 8px;
    margin-left: 5px;
    padding-right: 28px;
    width: auto;
}
.tb-shop .hesper-cats .attr-data table ol li a{
    text-decoration: none;
}
.tb-shop .hesper-cats .attr-data table ol li a:HOVER{
    text-decoration: none;
}

.tb-shop .hesper-cats .trigger, .tb-shop .shop-filter .mode a, .tb-shop .shop-hesper .icon {
    background: url("../images/T1TdNoXshgXXaCwpjX.png") no-repeat scroll 0 0 transparent;
}
.tb-shop .hesper-cats .trigger {
    background-position: 0 0;
    height: 21px;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -999em;
    top: 0;
    width: 21px;
}

.tb-shop .hesper-cats .attr-data div.handle {
    height: 50px;
    position: relative;
    display: none;
}

.tb-shop .hesper-cats .attr-data div.handle div.side {
    background: none repeat scroll 0 0 #F2F2F2;
    border-bottom: 1px solid #E2E2E2;
    height: 5px;
    width: 100%;
}

.tb-shop .hesper-cats .attr-data div.handle div.more {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F2F2F2;
    border-color: -moz-use-text-color #E2E2E2 #E2E2E2;
    border-image: none;
    border-right: 1px solid #E2E2E2;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    cursor: pointer;
    height: 22px;
    left: 260px;
    padding-left: 50px;
    padding-top: 3px;
    position: absolute;
    top: 5px;
    width: 100px;
    z-index: 100;
    text-align: right;
    padding-right: 10px;
}

.tb-shop .hesper-cats .attr-data table .x-more i, .tb-shop .hesper-cats .attr-data div.handle div.more i {
    background: url("../images/T1CW00XlFdXXXXXXXX-200-312.png") no-repeat scroll -18px -53px transparent;
    display: block;
    float: left;
    height: 15px;
    margin: 3px 3px 0 0;
    width: 15px;
}

.tb-shop .hesper-cats .attr-data table .x-more i.part, .tb-shop .hesper-cats .attr-data div.handle div.more i.part {
    background-position: -33px -53px;
}

.toolbar .view-mode a.grid,.toolbar .view-mode a.list{
	background: url("../images/Hyi0CUWS67O6FDLk.png") no-repeat scroll 0 0 transparent;
	float: left;
    height: 21px;
    margin-left: 10px;
    overflow: hidden;
    text-indent: -99px;
    width: 21px;
    cursor: pointer;
}
.toolbar .view-mode a.list{
	background-position: -176px 1px;
}
.toolbar .view-mode a.grid{
  background-position: -139px 1px;
}
.toolbar .view-mode a.active{
	cursor: default;
}
.toolbar .view-mode a.list.active{
    background-position: -176px 1px;
}
.toolbar .view-mode a.grid.active{
    background-position: -139px 1px;
}

.toolbar{
    background-color: #F9F9F9;
    height: 26px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 2px 0 1px;
}
.toolbar.top{
	height: 60px;
}
.toolbar.top .sorter .view-mode{
	float: right;
}
.toolbar.top .sorter .sort-by{
	float: left;
}
.toolbar.top .sorter .sort-by a{
	margin: 0 0 0 5px ;
	padding:0 5px 0 0;
	border-right: 2px solid #838383;
}
.toolbar.top .sorter .sort-by a.vivian-selected{
	font-weight: bold;
}
.toolbar.top .sorter .sort-by a.last{
	border-right: none;
}
.toolbar-bottom .toolbar{
	height: 32px;
}
.toolbar-bottom .toolbar .vivian-pager-desc{
	float: left;
}
.toolbar-bottom .toolbar .sorter{
	border-top: none;
}	

.toolbar .pagination.pagination-mini{
	float: right;
}
.toolbar .pagination a{
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 3px 0 0;
    overflow: hidden;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background:none no-repeat scroll 0 0 transparent;
}
.toolbar .vivian-pager{
	padding: 3px 8px;
}
.toolbar .vivian-pager .vivian-pager-desc{ 
	float: left;
	width: auto;
}
.toolbar .pagination a.previous,.toolbar .pagination a.next{
	background:url(../images/Hyi0CUWS67O6FDLk.png) no-repeat scroll 0 0 transparent;
}
.toolbar .pagination a.previous {
	background-position:  -41px -14px;
	width: 5px;
	padding: 0;
	text-indent:-10000px;	
}
.toolbar .pagination a.next{
	background-position:  -54px -14px;
	width: 5px;
	padding: 0;
	text-indent:-10000px;	
	margin: 0 5px 0 0;
}
.toolbar .pagination a.disable,.toolbar .pagination a.current{
	color: #AAAAAA;
}
.toolbar .pagination span.page-info{
	float: left;
	color: #666666;
    letter-spacing: 1px;
    width: auto;
    height: 20px;
    line-height: 20px;
    margin: 0 3px 0 0;
    overflow: hidden;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}


.products-grid li {
    float: left;
    margin-bottom: 20px;
    width: 200px;
    height: 270px;
}
.products-grid .item {
    margin: auto;
    text-align: center;
    width: 190px;
}
.products-grid .pic a {
    display: table-cell;
    height: 160px;
    vertical-align: middle;
    width: 160px;
}
.products-grid .pic a {
    height: 192px;
    width: 192px;
    padding: 1px;
}
.products-grid .pic a img {
    max-height: 192px;
    max-width: 192px;
    vertical-align: middle;
}
.products-grid .pic a:hover{
	padding: 0;
}
.products-grid .pic a:hover img {
	border: 1px solid #000000;
}
.products-grid .desc {
    height: 18px;
    line-height: 1.2;
    overflow: hidden;
    padding-top: 5px;
    text-align: left;
}
.products-grid .price {
	text-align: left;
}
.products-grid .desc a{
	color: #333333;
	text-decoration: none;
	font-size:13px;
}
.products-grid .desc a:HOVER{
	text-decoration: underline;
}

.products-grid .rating{
}
.products-list li {
    border-bottom: 1px dashed #CCCCCC;
    height: 48px;
    margin-bottom: 7px;
    padding: 32px 0 7px 90px;
}
.products-list .item .pic {
    float: left;
    height: 80px;
    margin: -32px 0 0 -90px;
    position: relative;
    text-align: center;
    width: 80px;
}
.products-list .item .desc {
    float: left;
    text-align: left;
    width: 400px;
}
.products-list .item .desc a:hover{
	text-decoration: underline;
}
.products-list .item .pri {
    float: left;
    width: 178px;
    margin-top: -20px;
}
.products-list .item .pic a {
    display: table-cell;
    height: 80px;
    vertical-align: middle;
    width: 80px;
}
.products-list .item .pic a img {
    max-height: 80px;
    max-width: 80px;
    vertical-align: middle;
}
.vivian-featured dl{
	margin: 0 0 0 9px;
	width:30%
}
.vivian-featured dl dt a img{
	border:1px solid #ffffff;
}
.vivian-featured dl dt a:hover img{
	border:1px solid #000000;
}

.vivian-featured dd h2{
	text-align: center;
	font-size: 14px;
}
.vivian-featured dd h2 a{
	color:#666666;
}
.vivian-featured dd h2 a:hover{
	text-decoration: underline;
}
.vivian-featured .vivian-wrapper{
	width:400px;
	margin: 0 auto;
}
.vivian-featured .vivian-title{
	text-align: center;
}
.vivian-featured .vivian-title h2{
	margin: 0;
	font:15px/1.55 catwalk-medium;
	color:#000000;
	text-decoration:underline;
	text-transform:uppercase;
}
.vivian-featured .vivian-content{
	text-align: center;
	margin-bottom: 10px;
	word-wrap:break-word;
}
.vivian-block .vivian-title .t-l{
	color:#000000;
	font:15px/1.55 Catwalk-Medium;
	text-transform: uppercase;
	text-decoration: underline;
}
.vivian-opts-list .opt-item{
	margin-top: 5px;
}
.vivian-opts-list .opt-item .opt-lb{
	border-bottom: 2px solid #e2e2e2;
	padding: 5px 1px;
	margin:0;
}
.vivian-opts-list .opt-item .opt-lb .opt-i-s{
	background:url("../images/links_bg.png") no-repeat scroll -5px -5px transparent;
	display: block;
    height: 10px;
    float:left;
    margin:5px;
    width: 9px;
    cursor: pointer;
}

.vivian-opts-list .opt-item .opt-list{
	padding: 5px 1px;
}
.vivian-opts-list .opt-list li{
	float: left;
	margin: 2px 0;
	width: 100%;
}
.vivian-opts-list .opt-list li a{
	background: url("../images/cate-nav.gif") no-repeat scroll -180px 4px transparent;
	padding-left: 16px;
	display: inline-block;
}
.vivian-opts-list .opt-list li a:hover{
	background-position: -140px -36px;
}
.vivian-opts-list .opt-list.opt-a-price li{
	float: none;
	width: auto;
}
.vivian-opts-list .opt-list.opt-a-price li a{
	background: none;
	padding-left: 0;
}

.vivian-attr-selected .block-subtitle{
	border-bottom: 2px solid #CCCCCC;
	padding: 5px 0;
}
.vivian-attr-selected .block-content a{
	display: block;
}
.vivian-attr-selected .block-content a .close-icon{ 
	margin-left: 10px;
	display: none;
}
.vivian-attr-selected .block-content a:hover .close-icon{
	display: inline-block;
}
#slider-range .ui-widget-header{
	background: none repeat-x scroll 50% 50% #b3b3b3;
}

#slider-range.ui-slider-horizontal .ui-slider-handle{
	margin-left: -2px;
}
#slider-range.ui-slider .ui-slider-handle{
	background:url(../images/Hyi0CUWS67O6FDLk.png) no-repeat scroll 0 -17px transparent;
	width: 0.4em;
	border:none;
}
#slider-range.ui-slider-horizontal{
	height: 7px;
}
