<?xml version="1.0"?>
<config>
    <modules>
        <Dono_PageCache>
            <version>1.0.0</version>
        </Dono_PageCache>
    </modules>
    <global>
        <models>
            <dono_pagecache>
                <class>Dono_PageCache_Model</class>
                <resourceModel>dono_pagecache_resource</resourceModel>
            </dono_pagecache>
            <dono_pagecache_resource>
                <class>Dono_PageCache_Model_Resource</class>
                <deprecatedNode>dono_pagecache_mysql4</deprecatedNode>
            </dono_pagecache_resource>
        </models>
        <blocks>
            <dono_pagecache>
                <class>Dono_PageCache_Block</class>
            </dono_pagecache>
        </blocks>
        <helpers>
            <dono_pagecache>
                <class>Dono_PageCache_Helper</class>
            </dono_pagecache>
        </helpers>
        <resources>
            <dono_pagecache_setup>
                <setup>
                    <module>Dono_PageCache</module>
                </setup>
            </dono_pagecache_setup>
        </resources>
        <cache>
            <types>
                <full_page translate="label,description" module="dono_pagecache">
                    <label>Page Cache</label>
                    <description>Full page caching.</description>
                    <tags>FPC</tags>
                </full_page>
            </types>
        </cache>
        <ignore_user_agents>
            <cache_crawler>DonoCrawler</cache_crawler>
        </ignore_user_agents>
        <widget>
            <related_cache_types>
                <full_page/>
            </related_cache_types>
        </widget>
        <events>
            <core_clean_cache>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>cleanExpiredCache</method>
                    </dono_pagecache>
                </observers>
            </core_clean_cache>
        </events>
    </global>
    <adminhtml>
        <events>
            <clean_media_cache_after>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>cleanCache</method>
                    </dono_pagecache>
                </observers>
            </clean_media_cache_after>
            <clean_catalog_images_cache_after>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>cleanCache</method>
                    </dono_pagecache>
                </observers>
            </clean_catalog_images_cache_after>
            <model_save_commit_after>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>validateDataChanges</method>
                    </dono_pagecache>
                </observers>
            </model_save_commit_after>
            <model_delete_commit_after>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>validateDataDelete</method>
                    </dono_pagecache>
                </observers>
            </model_delete_commit_after>
            <controller_action_postdispatch_adminhtml_system_currency_saveRates>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>invalidateCache</method>
                    </dono_pagecache>
                </observers>
            </controller_action_postdispatch_adminhtml_system_currency_saveRates>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>invalidateCache</method>
                    </dono_pagecache>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>invalidateCache</method>
                    </dono_pagecache>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
            <controller_action_postdispatch_adminhtml_catalog_product_massStatus>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>invalidateCache</method>
                    </dono_pagecache>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_massStatus>
            <controller_action_postdispatch_adminhtml_system_currencysymbol_save>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>invalidateCache</method>
                    </dono_pagecache>
                </observers>
            </controller_action_postdispatch_adminhtml_system_currencysymbol_save>
            <catalogrule_after_apply>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>cleanCache</method>
                    </dono_pagecache>
                </observers>
            </catalogrule_after_apply>
            <core_config_backend_design_exception_save_after>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>registerDesignExceptionsChange</method>
                    </dono_pagecache>
                </observers>
            </core_config_backend_design_exception_save_after>
            <adminhtml_system_config_backend_cookie_save_after>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>invalidateCache</method>
                    </dono_pagecache>
                </observers>
            </adminhtml_system_config_backend_cookie_save_after>
            <adminhtml_cache_refresh_type>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>cleanCache</method>
                    </dono_pagecache>
                </observers>
            </adminhtml_cache_refresh_type>
            <adminhtml_cache_flush_system>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>cleanCache</method>
                    </dono_pagecache>
                </observers>
            </adminhtml_cache_flush_system>
            <adminhtml_cache_flush_all>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>cleanCache</method>
                    </dono_pagecache>
                </observers>
            </adminhtml_cache_flush_all>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <dono_pagecache>
                <use>standard</use>
                <args>
                    <module>Dono_PageCache</module>
                    <frontName>pagecache</frontName>
                </args>
            </dono_pagecache>
        </routers>
        <events>
            <controller_response_redirect>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>checkMessages</method>
                    </dono_pagecache>
                </observers>
            </controller_response_redirect>
            <model_load_after>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>registerModelTag</method>
                    </dono_pagecache>
                </observers>
            </model_load_after>
            <controller_action_predispatch>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>processPreDispatch</method>
                    </dono_pagecache>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch_catalog_product_view>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>checkProductState</method>
                    </dono_pagecache>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
            <controller_action_postdispatch_catalog_category_view>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>checkCategoryState</method>
                    </dono_pagecache>
                </observers>
            </controller_action_postdispatch_catalog_category_view>
            <controller_front_send_response_before>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>cacheResponse</method>
                    </dono_pagecache>
                </observers>
            </controller_front_send_response_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>renderBlockPlaceholder</method>
                    </dono_pagecache>
                </observers>
            </core_block_abstract_to_html_after>
            <customer_login>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>customerLogin</method>
                    </dono_pagecache>
                    <dono_pagecache_compare_list_change>
                        <class>dono_pagecache/observer</class>
                        <method>registerCompareListChange</method>
                    </dono_pagecache_compare_list_change>
                </observers>
            </customer_login>
            <controller_action_postdispatch_customer_account_logoutSuccess>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>customerLogout</method>
                    </dono_pagecache>
                </observers>
            </controller_action_postdispatch_customer_account_logoutSuccess>
            <sales_quote_save_after>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>registerQuoteChange</method>
                    </dono_pagecache>
                </observers>
            </sales_quote_save_after>
            <sales_quote_remove_item>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>registerQuoteChange</method>
                    </dono_pagecache>
                </observers>
            </sales_quote_remove_item>
            <catalog_product_compare_add_product>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>registerCompareListChange</method>
                    </dono_pagecache>
                </observers>
            </catalog_product_compare_add_product>
            <catalog_product_compare_remove_product>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>registerCompareListChange</method>
                    </dono_pagecache>
                </observers>
            </catalog_product_compare_remove_product>
            <catalog_product_compare_item_collection_clear>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>registerCompareListChange</method>
                    </dono_pagecache>
                </observers>
            </catalog_product_compare_item_collection_clear>
            <core_session_abstract_add_message>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>processNewMessage</method>
                    </dono_pagecache>
                </observers>
            </core_session_abstract_add_message>
            <core_session_abstract_clear_messages>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>processMessageClearing</method>
                    </dono_pagecache>
                </observers>
            </core_session_abstract_clear_messages>
            <wishlist_add_product>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>registerWishlistChange</method>
                    </dono_pagecache>
                </observers>
            </wishlist_add_product>
            <wishlist_item_delete_commit_after>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>registerWishlistChange</method>
                    </dono_pagecache>
                </observers>
            </wishlist_item_delete_commit_after>
            <sales_order_place_after>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>registerNewOrder</method>
                    </dono_pagecache>
                </observers>
            </sales_order_place_after>
            <poll_vote_add>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>registerPollChange</method>
                    </dono_pagecache>
                </observers>
            </poll_vote_add>
            <catalog_controller_product_init_before>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>updateProductInfo</method>
                    </dono_pagecache>
                </observers>
            </catalog_controller_product_init_before>
            <dono_customersegment_ids_changed>
                <observers>
                    <dono_pagecache>
                        <class>dono_pagecache/observer</class>
                        <method>changedCustomerSegmentIds</method>
                    </dono_pagecache>
                </observers>
            </dono_customersegment_ids_changed>
        </events>
        <cache>
            <requests>
                <cms>dono_pagecache/processor_default</cms>
                <catalog>
                    <category>
                        <view>dono_pagecache/processor_category</view>
                    </category>
                </catalog>
                <catalog>
                    <product>
                        <view>dono_pagecache/processor_product</view>
                    </product>
                </catalog>
            </requests>
        </cache>
    </frontend>
    <default>
        <system>
            <page_cache>
                <allowed_depth>1</allowed_depth>
                <multicurrency>1</multicurrency>
                <max_cache_size>1024</max_cache_size>
            </page_cache>
            <page_crawl>
                <enable>0</enable>
                <threads>1</threads>
                <multicurrency>1</multicurrency>
            </page_crawl>
        </system>

        <dev>
            <translate_inline>
                <invalid_caches>
                    <full_page/>
                </invalid_caches>
            </translate_inline>
        </dev>
    </default>
    <crontab>
        <jobs>
            <dono_page_cache_crawler>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>dono_pagecache/crawler::crawl</model>
                </run>
            </dono_page_cache_crawler>
        </jobs>
    </crontab>
</config>