<?xml version="1.0"?>
<config>
    <modules>
        <ECargo_Catalog>
            <version>0.3.0</version>
        </ECargo_Catalog>
    </modules>
    <frontend>
        <routers>
            <ecargocatalog>
                <use>standard</use>
                <args>
                    <module>ECargo_Catalog</module>
                    <frontName>ecargocatalog</frontName>
                </args>
            </ecargocatalog>
        </routers>
        <layout>
            <updates>
                <ecargocatalog>
                    <file>ecargo_catalog.xml</file>
                </ecargocatalog>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <ecargocatalog>
                <class>ECargo_Catalog_Model</class>
            </ecargocatalog>
        </models>
        <blocks>
            <ecargocatalog>
                <class>ECargo_Catalog_Block</class>
            </ecargocatalog>
            <catalog>
				<rewrite>
					<product_list_toolbar>ECargo_Catalog_Block_Product_List_Toolbar</product_list_toolbar>
					<product_list>ECargo_Catalog_Block_Product_List</product_list>
					<product_view_description>ECargo_Catalog_Block_Product_View_Description</product_view_description>
				</rewrite>
			</catalog>
        </blocks>
        <helpers>
            <ecargocatalog>
                <class>ECargo_Catalog_Helper</class>
            </ecargocatalog>
        </helpers>
        <resources>
            <ecargocatalog_setup>
                <setup>
                    <module>ECargo_Catalog</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ecargocatalog_setup>
        </resources>
    </global>
</config>