<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Dono_EDM>
			<version>1.0.3</version>
		</Dono_EDM>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<edm before="Mage_Adminhtml">Dono_EDM_Adminhtml</edm>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<edm_config>
											<title>Dono Edm</title>
										</edm_config>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<edm>
					<file>edm.xml</file>
				</edm>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<blocks>
			<edm>
				<class>Dono_EDM_Block</class>
			</edm>
		</blocks>
		<models>
			<edm>
				<class>Dono_EDM_Model</class>
				<resourceModel>edm_resource</resourceModel>
			</edm>
			<edm_resource>
				<class>Dono_EDM_Model_Resource</class>
				<entities>
					<customer>
						<table>edm_customer</table>
					</customer>
					<group>
						<table>edm_group</table>
					</group>
					<template>
						<table>edm_template</table>
					</template>
					<task>
						<table>edm_task</table>
					</task>
				</entities>
			</edm_resource>
			<core>
				<rewrite>
					<email>Dono_EDM_Model_Email</email>
					<email_template>Dono_EDM_Model_Email_Template</email_template>
				</rewrite>
			</core>
		</models>
		<helpers>
			<edm>
				<class>Dono_EDM_Helper</class>
			</edm>
		</helpers>
		<resources>
			<edm_setup>
				<setup>
					<module>Dono_EDM</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</edm_setup>
			<edm_setup_write>
				<connection>
					<use>core_write</use>
				</connection>
			</edm_setup_write>
			<edm_setup_read>
				<connection>
					<use>core_read</use>
				</connection>
			</edm_setup_read>
		</resources>
		<events>
			<admin_user_authenticate_after>
				<observers>
					<donoverification>
						<class>edm/observer</class>
						<method>clearCacheConfigurationFilesAccessLevelVerification</method>
					</donoverification>
				</observers>
			</admin_user_authenticate_after>
		</events>
	</global>
	<crontab>
		<jobs>
			<edm_send_all>
				<run>
					<model>edm/observer::scheduledEdmSend</model>
				</run>
			</edm_send_all>
		</jobs>
	</crontab>
</config>