<?xml version="1.0"?>
<config>
	<modules>
		<Seevolution_Connector>
			<version>0.1.0</version>
		</Seevolution_Connector>
	</modules>
	<frontend>
		<layout>
			<updates>
				<connector>
					<file>seevolution.xml</file>
				</connector>
			</updates>
		</layout>
        <routers>
            <connector>
                <use>standard</use>
                <args>
                    <module>Seevolution_Connector</module>
                    <frontName>connector</frontName>
                </args>
            </connector>
        </routers>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<connector translate="title" module="connector">
											<title>Element</title>
											<sort_order>50</sort_order>
										</connector>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<global>
		<models>
			<connector>
				<class>Seevolution_Connector_Model</class>
				<resourceModel>Element_mysql4</resourceModel>
			</connector>
			<connector_mysql4>
				<class>Seevolution_Connector_Model_Mysql4</class>
			</connector_mysql4>
		</models>
		<resources>
			<connector_setup>
				<setup>
					<module>Seevolution_Connector</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</connector_setup>
			<connector_write>
				<connection>
					<use>core_write</use>
				</connection>
			</connector_write>
			<connector_read>
				<connection>
					<use>core_read</use>
				</connection>
			</connector_read>
		</resources>
	
		<blocks>
			<connector>
				<class>Seevolution_Connector_Block</class>
			</connector>
		</blocks>

		<helpers>
			<connector>
				<class>Seevolution_Connector_Helper</class>
			</connector>
		</helpers>
	</global>
</config>
